html,
body {
    height: 100%;
    background-color: #f2f2f2;
}

.derive-product-card {
    margin: 0 auto;
    width: 320px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: white;
}

.derive-product-card__price {
    display: block;
    text-align: right;
}

.derive-product-card__image {
    margin: 0 auto;
}

#derive-header {
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-text-primary-on-background);
    box-shadow: 0 0 0 0;
}

#derive-header .mdc-toolbar__section {
    overflow: visible;
}

#derive-logo {
    /*  background: url(assets/logo.png) left center no-repeat;
  background-size: contain;*/
    width: 100%;
    height: 100%;
}


/* Hide actual text for screen readers */

#derive-logo>span {
    /* position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;*/
}

#derive-planner-icon {
    width: 24px;
    height: 24px;
    margin-right: 40px;
    text-decoration: none;
}

#derive-planner-icon:visited,
#derive-planner-icon:active,
#derive-planner-icon:focus {
    color: var(--mdc-theme-text-primary-on-background);
}


#derive-planner-menu .mdc-temporary-drawer__header {
    background: url(images/trip-planner.jpg) center no-repeat;
    /*background-size: 30%;*/
    padding-left: 32px;
    padding-bottom: 12px;
}

#derive-planner-menu .mdc-temporary-drawer__header::before {
    padding-top: 30%;
}

#derive-planner-menu .mdc-list-item__graphic{
    padding-right: 10px;
}


#derive-planner-menu .mdc-list-item {
/*    height: 32px;*/
    padding-top: 15px;
    padding-left: 32px;
    letter-spacing: .2em;
}

#derive-planner-menu .mdc-list-item--selected{
    color: var(--mdc-theme-primary, #6200ee);
}

.mdc-list-item--activated{
    color: var(--mdc-theme-primary, #6200ee);
}


#derive-products {
    --mdc-layout-grid-gutter: 8px;
}

#derive-products .mdc-layout-cell {
    display: flex;
    justify-content: center;
}

.mdc-grid-tile {
    --mdc-grid-list-tile-width: 300px;
}

.my-grid-list .mdc-grid-tile {
    width: 100%;
}
.mdc-list-group{
    margin-top: 16px;
}

.my-tile-image {
    background-image: url(images/cards/baloon.png) no-repeat center/cover;
}

@media only screen and (max-width: 667px) {
    .display-3 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 767px) {
    
    .display-3 {
        font-size: 2rem;
        margin-top: 5rem;
    }
    h3 {
        font-size: 1rem;
    }
}

.mdc-toolbar__menu-icon{
    padding-right: 10px;

}
#derive-planner-menu .mdc-list-item {
    padding-bottom:30px;
}

